[submodule "Assets/MisterGames/unity-common"]
	path = Assets/MisterGames/unity-common
	url = https://vmarinchenko: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@github.com/theverymistergames/unity-common.git
